.movieTileWrapper {
  margin: 25px;
}

.movieTileContent {
  display: flex;
  flex-direction: row;
}

.moviePosterWrapper {
  min-width: 150px;
  max-width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.moviePoster {
  width: 100%;
}

.movieDetails {
  display: flex;
  width: 100%;
  margin: 0 50px;
  flex-direction: column;
}

.movieTitle {
  font-size: 14;
}

.movieYear {
  margin-bottom: 10px;
}
